
# typical build directories and artifacts
build
_build
build2
compile_commands.json

# ignore some of contrib
contrib/blas/openblas
contrib/graphviz
contrib/gprof2dot
contrib/FlameGraph
contrib/gperftools
contrib/linux
contrib/lperftools
contrib/valgrind
