
# typical build directories and artifacts
build
_build
/build*/
compile_commands.json
**/__pycache__
profiling/perf_predict/internal_data

# ignore some of contrib
contrib/blas/openblas
contrib/graphviz
contrib/gprof2dot
contrib/FlameGraph
contrib/gperftools
contrib/linux
contrib/lperftools
contrib/valgrind
